{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='a_propos.css') }}">
{% endblock %}

{% block content %}
<div class="top-info">
    <h1 class="text-center my-3">A propos</h1>
    <hr class="w-25 mx-auto bg-dark bar"/>
</div>

<div class="container-parent">
    <p class="texte-container">
        L'«Oumami» est un mot japonais qui signifie un «goût savoureux». C'est la cinquième saveur fondamentale avec le sucré, l'acide, l'amer et le salé. Ce goût a été découvert en 1908 par un chercheur japonais, Professeur IKEDA Kikumae.
        L'oumami est présent dans le DASHI (bouillon d'algue KOMBU, de copeaux de bonite séchée et de champignon SHIITAKE), ingrédient indispensable dans la cuisine japonaise.
        C'est la raison pour laquelle j'ai choisi ce mot «oumami» pour nommer mon magasin, où je pourrai vous faire découvrir ce goût savoureux et l'art de cuisine asiatique au travers de mes plats.
        Madoka
    </p>
    <img src="{{ url_for('static', filename='img/slide-1.jpg') }}" class="w-50 rounded shadow-lg" alt="ex2">
</div>

<div class="container-parent">
    <img src="{{ url_for('static', filename='img/slide-1.jpg') }}" class="w-50 rounded shadow-lg" alt="ex1">
    <p class="texte-container">
        L'«Oumami» est un mot japonais qui signifie un «goût savoureux». C'est la cinquième saveur fondamentale avec le sucré, l'acide, l'amer et le salé. Ce goût a été découvert en 1908 par un chercheur japonais, Professeur IKEDA Kikumae.
        L'oumami est présent dans le DASHI (bouillon d'algue KOMBU, de copeaux de bonite séchée et de champignon SHIITAKE), ingrédient indispensable dans la cuisine japonaise.
        C'est la raison pour laquelle j'ai choisi ce mot «oumami» pour nommer mon magasin, où je pourrai vous faire découvrir ce goût savoureux et l'art de cuisine asiatique au travers de mes plats.
        Madoka
    </p>
</div>


{% endblock %}