{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='commander.css') }}">
{% endblock %}

{% block content %}
<div class="top-info"></div>
    <h1 class="text-center my-3">Commander</h1>
    <hr class="w-25 mx-auto bg-dark bar">
</div>
<div class="row">
    <!-- Liste des allergènes -->
    <div class="col-md-3 bg-light p-3">
        <h5>Liste des allergènes</h5>
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center">
                <span class="badge bg-primary rounded-circle me-3">A</span>
                <span class="flex-grow-1">test1</span>
                <input type="checkbox" class="form-check-input ms-auto" checked>
            </li>
            <li class="list-group-item d-flex align-items-center">
                <span class="badge bg-primary rounded-circle me-3">A</span>
                <span class="flex-grow-1">test2</span>
                <input type="checkbox" class="form-check-input ms-auto" checked>
            </li>        
        </ul>
    </div>

    <!-- Section de commande -->
    <div class="col-md-9 ">

        <!-- Section de commande avec scrollbar -->
        <div class="col-md-9" style="height: 500px; overflow-y: auto;">
            
            <!-- Catégories -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if type == 'p' %}active{% endif %}" href="?type=p">Plats</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if type == 'f' %}active{% endif %}" href="?type=f">Formules</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if type == 'd' %}active{% endif %}" href="?type=d">Desserts</a>
                </li>

                <!-- Formulaire de recherche aligné à droite -->
                <form class="d-flex ms-auto" role="search">
                    <div class="input-group">
                        <span class="input-group-text bg-light">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                            </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Rechercher">
                        <span class="input-group-text bg-light">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </span>
                    </div>
                </form>
            </ul>
            {% if type=="p" %}
            <!-- Grille des plats -->
            <div class="row g-3 rounded">
                <h2>{{nb_plats}} plats disponibles</h2>
                {% for plat in plats %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename=plat.img) }}" class="card-img-top" alt="Sushi">
                        <div class="card-body text-center">
                            <p>{{plat.nom_plat}}</p>
                            <div class="d-flex justify-content-center align-items-center mb-2">
                                <button class="btn btn-outline-danger btn-sm">-</button>
                                <span class="mx-2">0</span>
                                <button class="btn btn-outline-danger btn-sm">+</button>
                            </div>
                            <small class="text-muted">Stock disponible : {{ plat.quantite_stock }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if type=="f" %}
            <!-- Grille des formules -->
            <div class="row g-3 rounded">
                <h2>{{nb_formules}} formules disponibles</h2>
                {% for formule in formules %}
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="text-center">{{formule.libelle_formule}}</h5>
                        {% for p in formule.les_plats %}
                        <p>{{p}}</p>
                        {% endfor %}
                        <div class="card-body text-center">
                            <div class="d-flex justify-content-center align-items-center mb-2">
                                <button class="btn btn-outline-danger btn-sm">-</button>
                                <span class="mx-2">0</span>
                                <button class="btn btn-outline-danger btn-sm">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if type=="d" %}
            <!-- Grille des desserts -->
            <div class="row g-3 rounded">
                <h2>{{nb_desserts}} desserts disponibles</h2>
                {% for dessert in desserts %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename=dessert.img) }}" class="card-img-top" alt="Sushi">
                        <div class="card-body text-center">
                            <div class="d-flex justify-content-center align-items-center mb-2">
                                <button class="btn btn-outline-danger btn-sm">-</button>
                                <span class="mx-2">0</span>
                                <button class="btn btn-outline-danger btn-sm">+</button>
                            </div>
                            <small class="text-muted">Stock disponible : {{ dessert.quantite_stock }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

        </div>

        <!-- Bouton Commander -->
        <div class="text-center mt-4">
            <a href="{{ url_for('panier') }}" class="btn btn-orange shadow rounded-pill px-4 py-2">Commander</a>
        </div>



{% endblock %}
