{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='retour_admin.css') }}">
{% endblock %}

{% block content %}
<div class="mt-4 w-auto retour_admin">
    <a class="btn btn-dark" href="{{ url_for('admin') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg>
    </a>
</div>
<div class="top-info">
    <h1 class="text-center my-3">Création des plats</h1>
    <hr class="w-25 mx-auto bg-dark bar"/>
</div>

<div class="container-fluid w-75 bg-light justify-content-center align-items-center">
    <form method="POST" novalidate class="form-horizontal" enctype="multipart/form-data" role="form" action="{{ url_for('add_plat') }}">
        {{ form.hidden_tag() }} <!-- CSRF Token -->
        
        <div class="form-group">
            <label for="name">Nom du plat :</label>
            {{ form.nom(class="form-control", id="name", placeholder="Entrez le nom du plat") }}
        </div>

        <div class="form-group">
            <label for="type">Type :</label>
            <select class="form-control" id="type" name="type">
                <option value="" disabled selected>-- Sélectionnez un type --</option>
                <option value="Plat chaud">Plat chaud</option>
                <option value="Plat froid">Plat froid</option>
                <option value="Sushi">Sushi</option>
                <option value="Dessert">Dessert</option>
            </select>            
        </div>

        <!-- Allergènes avec checkboxes -->
        <div class="form-group">
            <label for="platAllergenes_">Allergènes :</label>
            <div class="form-check">
                {% for allergene in form.allergenes %}
                    <div class="form-check">
                        {{ allergene }}
                        <label class="form-check-label" for="{{ allergene.id }}">
                            {{ allergene.label.text }}
                        </label>
                    </div>
                {% endfor %}
            </div>            
        </div>



        <div class="form-group">
            <label for="price">Prix :</label>
            {{ form.prix(class="form-control", id="price", placeholder="Entrez le prix en euros") }}
        </div>

        <div class="form-group">
            <label for="image">Image :</label>
            {{ form.img(class="form-control", id="image", accept="image/*", required=True) }}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Ajouter le plat</button>
    </form>
</div>
{% endblock %}
