{% extends "base.html" %}
{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="top-info">
    <h1 class="text-center my-3">Nouveautés</h1>
    <hr class="w-25 mx-auto bg-dark bar"/>
</div>

<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center text-center">
        <img src="{{ url_for('static', filename='img/slide-1.jpg') }}" class="w-75 rounded shadow-lg mb-4" alt="ex2">
        <p class="w-75 shadow p-3 bg-body-tertiary rounded" style="text-align: justify;">
            L'«Oumami» est un mot japonais qui signifie un «goût savoureux». C'est la cinquième saveur fondamentale avec le sucré, l'acide, l'amer et le salé. Ce goût a été découvert en 1908 par un chercheur japonais, Professeur IKEDA Kikumae.
            L'oumami est présent dans le DASHI (bouillon d'algue KOMBU, de copeaux de bonite séchée et de champignon SHIITAKE), ingrédient indispensable dans la cuisine japonaise.
            C'est la raison pour laquelle j'ai choisi ce mot «oumami» pour nommer mon magasin, où je pourrai vous faire découvrir ce goût savoureux et l'art de cuisine asiatique au travers de mes plats.
            Madoka
        </p>
    </div>
</div>



{% endblock %}