{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='panier.css') }}">
{% endblock %}

{% block content %}
<div class="top-info">
    <h1 class="text-center my-3">Panier</h1>
    <hr class="w-25 mx-auto bg-dark bar"/>
</div>

<div class="container-fluid d-flex p-0 mb-4 align-items-center justify-content-center">
    <div class="col-md-6 text-start mx-5">
        <div class="inner-shadow background_panier p-3">
            <h3 class="text-center my-3 fw-bold">Mes Articles</h3>
            <hr class="w-25 mx-auto bg-dark bar"/>
            <div class="container-fluid col-11">

                {% if panier is not none %}
                    {% for constituer in panier.constituer_assoc %}
                        <div class="container d-flex bg-light rounded my-3">
                            <div class="container col-2">
                                <img src="{{ url_for('static', filename='img/logo_oumami.png') }}" class="img-fluid img_article m-2" style="width: 80px; height: 80px" alt="produit1">
                            </div>
                            <div class="container my-auto">
                                <h4 class="mb-0"> {{ constituer.nom_plat }}</h4>
                            </div>
                            <div class="container d-flex">
                                <div class="col-4 my-auto d-flex justify-content-center align-items-center">
                                    <button class="btn btn-outline-danger btn-sm">-</button>
                                    <span class="mx-2">{{ constituer.quantite_plat }}</span>
                                    <button class="btn btn-outline-danger btn-sm">+</button>
                                </div>

                                <!-- Récupère la quantité du plat commandé -->
                                <p class="col-4 text-center my-auto"> {{ constituer.les_plats.prix }}€ </p>

                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-trash3 col-4 text-center my-auto" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                </svg>
                            </div>
                        </div>
                            
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="separator"></div>
    
    <div class="col-md-3 text-center mx-5">
        <div class="background_panier p-3">
            <h2 class="text-center my-3 fw-bold">Recap</h2>
            <hr class="w-100 mx-auto bg-dark bar"/>

            <div class="container-fluid col-11">

                {% for i in range(6) %}
                    
                        <div class="container d-flex bg-light rounded my-3">
                            <div class="container my-auto">
                                <h4>Titre</h4>
                                <p class="mb-0">Description</p>
                            </div>
                            <div class="container d-flex">
                                <p class="col-6 text-center my-auto">1</p>
                                <p class="col-6 text-center my-auto">33€</p>
                            </div>
                        </div>
                
                {% endfor %}
            
            </div>
        </div>
    </div>
</div>
{% endblock %}