{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='suivi_commandes.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="mt-4 w-auto retour_admin">
    <a class="btn btn-dark" href="{{ url_for('admin') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg>
    </a>
</div>
<form action="{{ url_for('suivi_commande') }}" method="POST">
    <div class="container my-5 text-center bg-gris-clair rounded">
        <h1 class="mb-4">Suivi des commandes</h1>
        <div class="accordion" id="commandesAccordion">
            {% for commande in les_commandes %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ commande.num_commande }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#collapse{{ commande.num_commande }}" aria-expanded="false" 
                        aria-controls="collapse{{ commande.num_commande }}">
                        <span>
                            {{ commande.les_clients.nom }} {{ commande.les_clients.prenom }} <br> {{ commande.les_clients.num_tel }}
                        </span>
                    </button>
                </h2>
                <div id="collapse{{ commande.num_commande }}" class="accordion-collapse collapse" aria-labelledby="heading{{ commande.num_commande }}">
                    <div class="accordion-body">
                        <ul class="list-group">
                            {% for association in commande.constituer_assoc %}
                            <li class="list-group-item d-flex align-items-center">
                                <img src="{{ url_for('static', filename='img/product/' ~ association.plat.img) }}" class="img_plat rounded me-3" alt="{{ association.plat.nom_plat }}">
                                <div class="flex-grow-1">
                                    <h3 class="mb-0">{{ association.plat.nom_plat }}</h3>
                                </div>
                                <h4 class="mb-0 ms-auto me-5">X {{ association.quantite_plat }}</h4>
                            </li>
                            {% endfor %}
                            {% for constituer_formule in commande.constituer_formule_assoc %}
                            <div class="container-fluid d-flex bg-light rounded my-3 container-article">
                                <h4 class="mb-0"> {{ constituer_formule.formule.libelle_formule }}</h4>
                                <h4 class="mb-0 ms-auto me-5">X {{ constituer_formule.quantite_formule }}</h4>
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                                    data-bs-target="#collapse{{ constituer_formule.formule.id_formule }}" 
                                    aria-expanded="false" aria-controls="collapse{{ constituer_formule.formule.id_formule }}"></button>
                            </div>
                            <div class="collapse mt-2" id="collapse{{ constituer_formule.formule.id_formule }}">
                                <div class="accordion-body p-3 border rounded bg-white">
                                    <h5 class="fw-bold mb-3">Plats inclus dans cette formule :</h5>
                                    <ul class="list-group">
                                        {% for plat in constituer_formule.formule.les_plats %}
                                        <li class="list-group-item d-flex align-items-center border-0">
                                            <img src="{{ url_for('static', filename='img/product/' ~ plat.img) }}" class="img_article" alt="{{ plat.nom_plat }}">
                                            <div class="flex-grow-1">
                                                <h6 class="mb-0">{{ plat.nom_plat }}</h6>
                                            </div>
                                            <span class="badge bg-secondary rounded-pill px-3 py-2">x1</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}
