




/* Assure que le carousel couvre toute la page */
#carousel {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#oumami {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-text-stroke: 2px black;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  z-index: 10; /* Assure que le texte reste au-dessus du carousel */
}

#info {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  z-index: 10; /* Assure que le texte reste au-dessus du carousel */
}


/* Style de la ligne horizontale */
.carousel-line {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px; /* Ajuste la largeur de la ligne ici */
  border: 2px solid white;
  opacity: 0.8;
  z-index: 10;
}


/* Carousel en fond d’écran */
.carousel {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Images couvrant tout l’écran */
.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Personnalisation des boutons de contrôle */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

/* Style des indicateurs */
.carousel-indicators li {
  list-style: none;
}

/* Indicateur actif */
.carousel-indicators .active {
  background-color: #007bff;
}


/* Style du texte de la section de présentation */
.contact-section {
  color: #E84D0E;
  font-size: 1.2rem;
  
}


/* Nouvelle section avec image pleine largeur */
.full-width-image {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.full-width-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.text-overlay h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}


/* Style de la section des offres */
.offres-section {
    padding: 40px 0;
    text-align: center;
}

.offres-title {
    margin: 0 auto ;
    font-size: 2rem;
    font-weight: bold;
}

.offres-divider {
    width: 60px;
    height: 2px;
    background-color: black;
    margin: 0 auto 20px;
}

.offres-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.text-orange {
    color: #e87c36; 
}

.offres-subdetail {
    font-size: 0.9rem;
    color: #e87c36;
}

.separator {
    border-left: 1px solid black;
    height: 15em;
    margin: 0 auto;
    width: 1em;
}



.offres-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}




.plats-section {
  padding: 40px 0;
  background-color: #f8f9fa; 
  
}
.plats-title{
  text-align: center;
}
.plats-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.plats-divider {
  width: 60px;
  height: 2px;
  background-color: black;
  margin: 0 auto 20px;
}

.text-orange {
  color: #e87c36; 
  font-weight: bold;
}

.sushis-disclaimer {
  color: red;
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.horaire-section{
  padding: 40px 0;
  text-align: center;
  font-size: large;
  background-color: #f8f9fa; 
}

/* Flèche descendante */
.scroll-down-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}


/* Section contact */
.contact-section {
  background-color: #f8f9fa; 
  padding: 20px 0; 
}

.mb-0.fw-bold{
  color: black;
}

.contact-item svg {
  fill: #e87c36; 
}

.text-overlay {
  -webkit-text-stroke: 1px black;
}

.sous-section-offre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
}



@media screen and (max-width: 767px) {

    .offres-container {
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
    }

    .plat-container {
      flex-direction: column;
      margin: 0 auto;
    }

    .contact-item {
      margin-bottom: 20px;
    }

    .sous-section-offre {
      width: 80%;
    }

    #info {
      margin: 3em auto;
    }

}