.background_panier{
    background-color: #E9E9E9;
    border-radius: 4em;
}

.inner-shadow {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.separator {
    border-left: 2px solid black;
    height: 50vh;
    margin: 0;
}

.btn-orange {
    background-color: #f27a24;
    color: white;
}

.btn-orange:hover {
    background-color: #e0691f;
}

#accordion-button{
    width: 100px;
    background-color: rgba(248,249,250,1);
}

#img80{
    width: 80px;
    height: 80px;
}

#img60{
    width: 60px;
    height: 60px;
}