.background_panier{
    background-color: #E9E9E9;
    border-radius: 4em;
}

.inner-shadow {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);

}

.separator {
    border-left: 2px solid black;
    height: 50vh;
    margin: 0;
}