.background_panier{
    background-color: #E9E9E9;
    border-radius: 1em;
}

.background_recap {
    background-color: #E9E9E9;
    border-radius: 3em;
    margin: 0 auto;
}

.separator {
    border-left: 2px solid black;
    height: 50vh;
    margin: 0;
}

.btn-orange {
    background-color: #f27a24;
    color: white;
}

.btn-orange:hover {
    background-color: #e0691f;
}

.main-container {
    display: flex;
}

.bin {
    min-width:25px;
    max-width: 80px;
}

.img_plat_panier {
    width: 80px;
    height: 80px;
    border-radius: 5%;
    margin: 0.8em auto;  
}

.articles-container {
    overflow-y: auto;
    max-height: 30em;
}


@media (max-width: 1100px) {

    .separator {
        display: none;
    }


}

@media (max-width: 900px) {

    .main-container {
        flex-direction: column;
    }

    .panier-container, .recap-container {
        margin: 2em auto;
        width: 80%;
    }

    .recap-container div {
        border-radius: 3%;
    }
}

#accordion-button{
    width: 100px;
    background-color: rgba(248,249,250,1);
}

#img80{
    width: 80px;
    height: 80px;
}

#img60{
    width: 60px;
    height: 60px;
}

@media (max-width: 550px) {
    .img_plat_panier {
        display: none;
    }

    .plat-container {
        margin: 1em auto;
    }

    .link-container a {
        padding: 0.5em;
        font-size: 0.5em;
    }

    .bin {
        max-height: 2em;
        padding: 0 0;
    }

    .plat-container {
        min-width: 0.5em;
    }

    .plat-container h4 {
        font-size: 1em;
    }
}


@media (max-width: 360px) {

    .prix-plat, span {
        margin: 2px 2px !important;
    }
}