


.main_profil {
    background-color: lightgray;
}

aside nav ul li.active {
    background-color: #f0f0f0; /* Couleur de fond pour surligner */
    position: relative;        /* Nécessaire pour le trait vertical */
    padding-left: 10px;        /* Espace pour le trait */
    border-radius: 4px;        /* Coins arrondis pour l'esthétique */
}

/* Ajout d'un trait vertical à gauche de l'élément actif */
aside nav ul li.active::before {
    content: "";
    position: absolute;
    left: 0;                  /* Positionné à gauche */
    top: 0;
    bottom: 0;
    width: 4px;               /* Largeur du trait */
    background-color: #dc3545; /* Couleur du trait */
    border-radius: 2px;       /* Coins arrondis pour le trait */
}

/* Style de base pour le bouton */
.btn_color {
    background-color: #dc3545;   /* Couleur de fond rouge */
    color: #ffffff;              /* Texte blanc */      /* Espace interne */
    border: none;                /* Suppression de la bordure par défaut */
    border-radius: 5px;          /* Coins arrondis */       /* Curseur en forme de main */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transition pour effet de survol */
}

/* Effet de survol pour le bouton */
.btn_color:hover {
    background-color: #c82333;   /* Teinte plus foncée pour le survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Ombre légèrement plus prononcée */
}

/* Effet de clic */
.btn_color:active {
    background-color: #a71d2a;   /* Couleur encore plus foncée au clic */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Réduit l'ombre pour effet de pression */
    transform: translateY(1px);  /* Légère translation pour effet de clic */
}

/* Style pour le survol */
.section_effect:hover {
    background-color: #b0b0b0;  /* Couleur grise légèrement foncée pour le survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Ombre prononcée au survol */
}

/* Style pour l'effet de clic */
.section_effect:active {
    background-color: #a0a0a0; /* Teinte plus foncée pour l’effet de clic */
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombre en relief pour effet de pression */
    transform: translateY(1px); /* Légère translation pour effet de clic */
}

.pseudo {
    width: 150px;            /* Ajuste la largeur en fonction de la zone souhaitée */
    white-space: nowrap;      /* Empêche le texte de se mettre sur plusieurs lignes */
    overflow: hidden;         /* Masque le texte qui dépasse la largeur */
    text-overflow: ellipsis;  /* Ajoute les "..." pour indiquer le texte tronqué */
}
