.retour_admin {
    margin-left: 8%;
}

@media (max-width: 767px) {
     .init-container, .range-container {
        flex-direction: column;
     }

     .init-container button {
        min-width: 300px;
        margin: 10px auto;
     }

     .range-container {
        margin: 0 auto;
        max-width: 80%;
     }
}